.cart_container {
  position: fixed;
  width: calc(100vw - 2rem);
  height: calc(100vh - 6rem);
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 1rem;
  padding-bottom: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart {
  background-color: white;
  border-radius: 0.5rem;
  width: 100%;
}

.cart__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart__header_title {
  display: flex;
  align-items: center;
  padding-left: 1rem;
}

.cart__header_text {
  margin: 0;
  padding-right: 0.5rem;
}

.cart__header_closeBtn {
  border: none;
  background-color: hsl(35, 100%, 70%);
  border-radius: 0 0.5rem 0 0.5rem;
  padding: 0.75rem;
  cursor: pointer;
}

.cart__total_text {
  display: flex;
  padding: 0.75rem 1rem;
  font-weight: 700;
  justify-content: flex-end;
  /* text-transform: uppercase; */
}

/* LIST */

.cart__list {
  min-height: 300px;
  padding: 0.25rem 0;
}

.cart__item {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
}

.item__info {
  display: flex;
  align-items: center;
  flex: 4;
  padding: 0rem 0.5rem;
  justify-content: space-between;
}

.item__name {
  font-size: 1.2rem;
  font-weight: 600;
}

.item__price {
}

.item__pricing {
  flex: 2;
  display: flex;
  justify-content: space-between;
}

.item__qty {
  background-color: hsl(35, 100%, 70%);
  padding: 0.25rem 0.65rem;
  border-radius: 0.25rem;
  min-width: 0.7rem;
  text-align: center;
}

.item__total {
  font-size: 1.1rem;
  font-weight: 600;
  display: flex;
  align-items: center;
}

/* Footer */
.cart__footer {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__clearBtn {
  background-color: white;
  font-weight: 700;
  color: hsl(0, 100%, 60%);
  border: 2px solid hsl(0, 100%, 60%);
  border-radius: 0.5rem;
  padding: 0.5rem;
  font-size: 0.9rem;
  cursor: pointer;
}

.footer__clearBtn:disabled {
  opacity: 0.5;
}

.footer__totalPrice {
  font-size: 1.3rem;
  font-weight: 700;
}
