.main {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 0.5rem;
  min-height: calc(100vh - 1rem);
}

.main__container {
  background-color: white;
  border-radius: 0.5rem;
  padding: 1rem 0.75rem;
}
