.list_container {
}

.list {
  padding-top: 0.5rem;
}

.list__product {
  display: flex;
}

.list__info {
  flex: 8;
  padding-right: 0.5rem;
}

.info__name {
  margin: 0.5rem 0;
}

.info__desc {
  margin: 0.75rem 0;
}

.list__qty {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex: 2;
}

.qty__select {
  width: 3rem;
  height: 2.5rem;
  font-size: 1rem;
}

.qty__addBtn {
  border: none;
  background: none;
  padding: 0.25rem 0.5rem;
  padding-top: calc(0.5rem + 2px);
  cursor: pointer;
  margin-left: 0.25rem;
}

.qty__addBtn:hover {
  background-color: var(--blue-clear);
}

.qty__addBtn:active {
  background-color: var(--blue);
  margin-top: 10px;
}

.qty__addBtn:disabled {
  opacity: 0.5;
  cursor: unset;
}

.qty__addBtn:disabled:hover {
  background-color: transparent;
}

.qty__addBtn:disabled:active {
  margin-top: 0;
  background-color: transparent;
}
