.list_wrapper {
}

.list {
  padding-top: 1rem;
}

.list__product {
  display: flex;
}

.list__info {
  flex: 8;
}

.list__qty {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex: 2;
}

.qty__select {
  width: 3rem;
  height: 2.5rem;
  font-size: 1rem;
}

.qty__addBtn {
  border: none;
  background: none;
  padding: 0.5rem;
  padding-top: calc(0.5rem + 2px);
  cursor: pointer;
  margin-left: 0.25rem;
}
