.sort {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 0;
  border-top: 1px solid var(--grey-clear);
  border-bottom: 1px solid var(--grey-clear);
}

.sortBlock {
  display: flex;
  align-items: center;
}

.sortBlock__label {
  font-weight: 700;
  color: var(--black-label);
  padding-right: 0.5rem;
}

.sortBlock__button {
  border: none;
  background-color: transparent;
  padding: 0.25rem 0.5rem;
  transition: background 0.2s ease-in-out;
}

.sortBlock__button:hover {
  background-color: var(--blue-clear);
}

.sortBlock__buttonActive {
  background-color: var(--blue);
}

.sortBlock__buttonGroup {
  display: flex;
  flex-grow: 1;
  padding-right: 0.75rem;
}

.sortBlock__buttonGroup .sortBlock__button {
  margin-left: 0.75rem;
}

.sortBlock__buttonGroup .sortBlock__button:first-child {
  margin-left: 0;
}

.sortBlock__button img {
  transition: all 0.2s ease-in-out;
}

.sortBlock__btnImg {
  transform: scaleY(1);
}

.sortBlock__btnImg_reverse {
  transform: scaleY(-1);
}
